* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)), 
    url(/Users/folasadejoseph/WEBDEV/week_2/day_3/assets/face.jpg);
    background-size: cover;
    background-position: center;
    
    
}
.navbar {
    width:  85%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    width: 200px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;

}

span{
    color: #c9b30d;
}
.navbar ul li {
    margin: 0 20px;
    display: inline-block;
    list-style: none;
    position: relative;
    
}
.navbar ul li a {

    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
 .navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #c9b30d;
    position:absolute;
    left:0;
    bottom: -8px;
 

 }
 .navbar ul li:hover::after {
    width: 100%;
 }

 .main
 {
  position:absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50px);
  color:#fff

 }
 .main h1 {
    color: #fff;
    margin: 10px 0px 10px;
    font-size: 70px;
    
    
 }
.main h4 {
    color:#fff;
    font-size: 25px;
    margin: 10px 0px 10px;
    
}

.main h3 {
    color: #d5bd0c;
    font-size: 20px;
    margin: 10px 0px 10px;

}
.about {
    width:100%;
    padding: 100px 0px;
    background-color: #343131;
    border: #c9b30d solid;

}
 .about img{
    height: auto;
    width: 430px;

 }

 .about-text{
    width: 550px
 }

 .me {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

 }
 .about-text {

  color: #fff;
  margin-bottom: 20px;

 }
 .about-text h2
 {
    color: #c9b30d ;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px
    ;
}
.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom:  45px; ;
}

.portfolio-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    grid-template-areas: 
    'portfolio-1 portfolio-1 portfolio-1'
    'portfolio-2 portfolio-2 portfolio-3';
    gap: 2%;
    background-size: cover;
   

}
.portfolio-1
{
    display:grid;
    width:  100%;
    padding: 100px 0px;
    background: #343131;
    color: #fff;
    height: 500px;
    background-size: cover;
    cursor: pointer;
    grid-area: portfolio-1 ;
    background-position: center top;
    border:solid #c9b30d;
}
.portfolio-head {
    display: flex;
    justify-items: flex-start;
    align-self: flex-end;
   font-size: 25px;
    background: rgba(0,0,0,0.4);
    color: #c9b30d;
    padding: 20px;
    text-decoration: none;
}
h3 {
    display: block;
    font-weight: bold;
}

.portfolio-2 {
    display:grid;
    width:  100%;
    padding: 100px 0px;
    background: #343131;
    color: #fff;
    height: 300px;
    background-size: cover;
    cursor: pointer;
    grid-area: portfolio-2 ;
    background-position: center top;
    border: #c9b30d solid;
}
.portfolio-3 {
    display:grid;
    width:  100%;
    padding: 100px 0px;
    background: #343131;
    color: #fff;
    height: 300px;
    background-size: cover;
    cursor: pointer;
    grid-area: portfolio-3 ;
    background-position: center center;
    border: #c9b30d solid;
}
.contact
{
    height: 50vh;
    width: 100%;
    
   
   

    
    
}

form {
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    width: 400px;
 
   
}
form h2 {
    text-align: center;
    color: #c9b30d;
}